**DATA TYPES AND STRUCTURES QUESTIONS**

1. What are data structures, and why are they important?
>Data structures are ways to organize and store data efficiently for easy access and modification. They are essential for optimizing performance, managing large data sets, and improving algorithm efficiency. Examples include lists, tuples, dictionaries, and sets.


2.  Explain the difference between mutable and immutable data types with examples.
    >In Python, data types are classified into mutable and immutable based on whether their values can be changed after creation.

    >>Mutable Data Types

    >>>Definition: Mutable data types allow modification after their creation. You can change their contents without changing their memory reference.ex:- List,Dictionary.

    >>Immutable Data Types

    >>>Definition: Immutable data types do not allow modification after creation. Any change results in a new object being created in memory.ex:- Tuple,String.
  

3. What are the main differences between lists and tuples in Python?
  >Mutability:
      Lists are mutable (can be modified).
      Tuples are immutable (cannot be changed after creation).

      >>Performance:
      
      >>>Tuples are faster than lists due to immutability.   
      >>?Lists are slower because they support modifications.

      >>Memory Usage:
      
      >>>Tuples use less memory and are more memory-efficient.
      >>>Lists use more memory due to dynamic resizing.

      >>Syntax:
      
        Lists: Defined using [] (square brackets).

        Tuples: Defined using () (parentheses).

      >>Use Cases:
      
      >>>Lists are used when data needs to change frequently.
      >>>Tuples are used for fixed, unchangeable data.

4. Describe how dictionaries store data.
  >Dictionaries store data as key-value pairs using a hash table. Keys are hashed to unique indexes, making data retrieval fast.

5. Why might you use a set instead of a list in Python?
  >Faster lookups:
  >>Sets use hashing (O(1) for lookups, vs. O(n) for lists).

  >>Uniqueness: Sets automatically remove duplicates.

6. What is a string in Python, and how is it different from a list?
  >A string is a sequence of characters, immutable, and stored as a contiguous block in memory.
  A list is a mutable collection of objects that can be modified.

7. How do tuples ensure data integrity in Python?
  >Tuples are immutable, meaning their values cannot be changed after creation. This prevents accidental modification, ensuring data integrity.

8. What is a hash table, and how does it relate to dictionaries in Python?
  > A hash table stores data as key-value pairs using a hash function for fast lookups. Python dictionaries are implemented using hash tables, making key retrieval efficient (O(1) time complexity).

9. Can lists contain different data types in Python?
  >Yes, lists can hold mixed data types.

10. Why are strings immutable in Python?
  >Improves performance and security.
  Supports hashability for use as dictionary keys.
  Prevents accidental modification.

11. What advantages do dictionaries offer over lists for certain tasks?

   > Faster lookups (O(1) vs. O(n)).

   > Allows key-value pair storage.
   
   > More readable and structured data

12.  Describe a scenario where using a tuple would be preferable over a list.

    >When data should not change (e.g., storing coordinates (x, y)).

    >When used as dictionary keys (tuples are hashable, lists are not).

13. How do sets handle duplicate values in Python?

    >Sets in Python automatically remove duplicate values because they are unordered collections of unique elements.

    >>How It Works
   >>> When elements are added to a set, Python uses a hashing mechanism to check for duplicates.If a duplicate value is detected, it is not added to the set.

14. How does the “in” keyword work differently for lists and dictionaries?

    >In a list, it checks values (O(n) complexity).

    >In a dictionary, it checks keys (O(1) complexity).

15. Can you modify elements of a tuple? Why or why not?

    >No, tuples are immutable. Once created, elements cannot be modified.

16. What is a nested dictionary, and give an example of its use case?

    >A nested dictionary is a dictionary inside another dictionary. It allows hierarchical storage of data, making it useful for organizing complex data structures.

    >>Use Case: Storing Student Records
    >>>A school management system can use a nested dictionary to store details about multiple students, making it easy to retrieve and update information.

17. Describe the time complexity of accessing elements in a dictionary?

    >Accessing an element in a dictionary is O(1) (constant time), thanks to hash tables.

18. In what situations are lists preferred over dictionaries?

    >When order matters

    >When storing sequences of values without key-value pairs

    >When performing indexed access (O(1))

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    >Dictionaries are unordered before Python 3.7 (keys had no guaranteed order). Since Python 3.7, they maintain insertion order.However, retrieval is still based on hash keys, not index positions.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

    >Access Mechanism:
    >>Lists retrieve data by index, meaning you need to know the position of an element.

    >>Dictionaries retrieve data by key, allowing direct access to values without searching.

    >Retrieval Speed:
    >>Lists have a linear search time (O(n)) if the element’s position is unknown.

    >>Dictionaries use hashing, providing constant time lookup (O(1)).

    >Best Use Case:
    >>Lists are better for ordered collections and sequential access.

    >>Dictionaries are better for fast lookups and key-value mappings.

**PRACTICAL** **QUESTIONS**

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Smit"
print(name)

Smit

2. Write a code to find the length of the string "Hello World".

In [ ]:
string = "Hello World"
length = len(string)
print(length)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"
sliced = string[:3]
print(sliced)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
string = "I like apple"
modified_string = string.replace("apple", "orange")
print(modified_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]  # Indexing starts from 0
print(second_element)

b

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]  # Negative indexing
print(second_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
cat_index = animals.index('cat')
print(cat_index)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple")
else:
    print("Kiwi is not in the tuple")

Kiwi is not in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)  # Output will be an empty set: set()

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
numbers = {1, 2, 3, 4}
numbers.remove(4)  # or use discard(4) to avoid errors if 4 is not in the set
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)  # or use set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)  # or use set1 & set2
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name": "krishna", "age": 19, "city": "Ahmedabad"}
print(person)

{'name': 'krishna', 'age': 19, 'city': 'Ahmedabad'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
name_value = person["name"]
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {"name": "krishna", "age": 19, "city": "Ahmedabad"}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3, 4, 5]
(10, 20, 30, 40, 50)
{'name': 'krishna', 'age': 19, 'city': 'Ahmedabad'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[17, 26, 38, 57, 79]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])  # Index starts at 0, so the third index is the fourth element

date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}  # Merging using dictionary unpacking
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
words_list = ["apple", "banana", "cherry", "apple", "banana"]
words_set = set(words_list)
print(words_set)  # Removes duplicates

{'cherry', 'banana', 'apple'}